/* WHOLE PAGE */
.body-home {
  background-color: #FFC0CB;
  color: white;
  font-family: 'Martel', serif;
  overflow-y: scroll;
}

.padding-sides-10 {
  padding-left: 10%;
  padding-right: 10%;
}

.full-height {
  height: 100vh;
}

.home-h1 {
  font-family: 'Prompt', sans-serif;
  font-size: 5vh;
}

a {
  background-color: #347FC4;
  color: white;
  text-decoration: none;
  padding: 3px;
  animation: link-out 0.5s forwards;
}

a:hover {
  animation: link 0.5s forwards;
  text-decoration: dashed;
  color: #272838;
}

@keyframes link {
  0% {
    color: white;
  }
  100% {
    color: black;
  }
}

@keyframes link-out {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}

/* SECTION INTRO */

.intro{
  display: flex;
  flex-direction: row;
  height: 55vh;
  padding: 10%;
  justify-content: center;
  color: #272838
}

.intro-left{
  position: relative;
  order: 2;
  width: 40%;
}

.intro-right{
  order: 1;
  height: 50%;
}

.short-description-text {
  font-size: 6vh;
  opacity: 0;
  display: inline-block;
}

.short-description-wrapper{
  width: 90%;
  display: block;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pop-from-left{
  font-family: 'Prompt', sans-serif;
  z-index: 1;
  overflow: hidden;
  animation: 1s pop-from-left;
  margin-top: 0%;
}

@keyframes pop-from-left {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.intro video {
  width: 100% !important;
  height: 100% !important;
  max-width: 300px;
  min-width: 250px;
  min-height: 100px;
}

.danilo-video{
  position: absolute;
  transform: translate(0,0) scale(0);
  transition-duration: 0.1s;
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  right: 0;
}

.arrow-down{
  text-align: center;
  font-size: 4vh;
  opacity: 0;
  color: #272838
}

@media only screen and (max-width: 992px){
  .intro {
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    height: 80vh;
  }

  .intro-left{
    width: 100%;
  }
  
  .pop-from-left {
    font-size: 3vh;
  }

  .short-description-text{
    font-size: 4vh;
  }

  .danilo-video{
    position: relative;
    float: right;
  }

  intro video{
    max-width: 250px;
    min-width: 200px;
    min-height: 150px;
  }
}

@media only screen and (max-width: 530px){
  .short-description-text {
    font-size: 3vh;
  }
  .intro {
    flex-direction: column;
    justify-content: none;
    justify-content: none;
    height: 60vh;
  }
}

/* INDEX PAGE */

/* BIO */

.bio-body {
  padding: 10%;
  font-family: 'Martel', serif;
  background-color: #FFBECB;
  background-image:
  linear-gradient(#FFBECB, #7D6B91 30%);
}

.paragraphs {
  display: flex;
  flex-direction: row;
  font-size: 2.5vh;
  color: white;
  justify-content: space-evenly;
}

.paragraph {
  min-width: 200px;
  max-width: 1500px;
  min-height: 200px;
  white-space: pre-wrap;
}

.paragraph2 {
  position: relative;
  top: 8.3vh;
}

.paragraph+.paragraph{
  margin-left: 100px
}

.pages-videos {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pages-videos video {
  max-width: 95%;
}

.pages-videos div {
  display: flex;
  justify-content: center;
  align-self: center;
}

.video1{
  margin-left: 10%;
}

.video2 {
  margin-left: -10%;
  margin-top: 5%
}

@media only screen and (max-width: 991px){
  .bio-body h1{
    font-size: 5vh;
  }

  .paragraphs {
    font-size: 2vh;
    flex-direction: column;
  }

  .paragraph2 {
    top: 10px;
  }

  .paragraph+.paragraph{
    margin-left: 0px;
    margin-top: 30px
  }

  .pages-videos video {
    max-width: 100%;
  }

}

@media only screen and (max-width: 530px){
  .bio-body h1{
    font-size: 4vh;
  }
  
  .paragraphs {
    font-size: 16px;
    flex-direction: column;
    justify-content: none;
  }

  .paragraph {
    min-width: 100px;
    max-width: 700px;
    min-height: 50px;
  }

  .paragraph+.paragraph{
    margin-left: 0px;
    margin-top: 20px;
  }

  .pages-videos {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }

  .pages-videos video{
    width: 60%;
  }

  .pages-videos div {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .video1{
    margin-left: -10%;
  }

  .video2 {
    margin-left: 10%;
    margin-top: -5%;
  }

}

/* SELECTED PROJECTS */

.selected-projects-body {
  background-color: #7D6B91;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.selected-projects-body h1{
  margin-top: 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
  font-size: 2.5vh;
  min-width: 100%;
}

.project {
  /* border: 1px solid white; */
  display: flex;
  justify-content: right;
  flex-direction: column;
  width: calc(50% - 20px);
    /* Two items per row with some spacing */
    margin-bottom: 60px;
    /* Space between rows */
}

.project-video-container {
  display: flex;
}

.project-video {
  max-width: 90%;
}

.project-text {
  max-width: 500px;
  padding-right: 10%;
}

.project+.project{
  margin-left: 0px;
}

@media only screen and (max-width: 991px){
  .project-text {
      padding-right: 0;
      text-align: center;
    }
  .selected-projects-body h1{
    font-size: 5vh;
  }

  .projects {
    font-size: 2vh;
  }

  .project-video {
    max-width: 100%;
    }
    
    .project-video-container {
      display: flex;
      justify-content: center;
  }

  .project+.project{
    margin-left: 50px;
  }

}

@media only screen and (max-width: 670px){
  .projects {
    flex-direction: column;
  }

.project {
  width: 100%;
  margin-left: 0;
  margin-top: 30px;
}

.project-video {
  max-width: 100%;
}
  .project+.project{
    margin-left: 0px;
    margin-top: 30px;
  }

}

@media only screen and (max-width: 530px){
  .selected-projects-body h1{
    font-size: 4vh;
  }

  .projects {
    font-size: 16px;
  }

}

/* SKILLS */

.skills-body{
  margin-top: -100px;
  padding-left: 10%;
  padding-right: 10%;
  background-image: 
  linear-gradient(#7D6B91, #5D536B 30%);
  font-size: 2.5vh;
}

.skills-body h1{
  margin-top: 0
}

.skills {
  width: 100%;
  position: relative;
  float: left;
}

.skills ul {
  list-style-type: none;
  padding-inline-start: 0;
}

ul + ul{
  margin-top: 70px;
}

.skills ul > li {
  margin-bottom: 50px;
  background: white;
  height: 6px;
}

.skills ul > li em {
  position: relative;
  top: -45px;
}

.skills ul > li span {
  height: inherit;
  background: linear-gradient(90deg, #FFC0CB, #347FC4);
  position: absolute;
}

.HTML { 
  width: 85%; 
}

.HTML-animation {
  animation: HTML-animation 2s ease-out;
}

.CSS { 
  width: 85%;  
}

.CSS-animation {
  animation: CSS-animation 2s ease-out;
}

.JavaScript {
  width: 70%;
}

.JavaScript-animation {
  animation: JavaScript-animation 2s ease-out;
}

.React {
  width: 75%;
}

.React-animation{
  animation: React-animation 2s ease-out;
}

.Java {
  width: 75%;
}

.Java-animation{
  animation: React-animation 2s ease-out;
}

.Go {
  width: 80%;
}

.Go-animation{
  animation: Go-animation 2s ease-out;
}

.SQL {
  width: 50%;
}

.SQL-animation {
  animation: SQL-animation 2s ease-out;
}

.Git {
  width: 70%;
}

.Git-animation{
  animation: Git-animation 2s ease-out;
}

.GraphQL {
  width: 40%;
}

.GraphQL-animation{
  animation: GraphQL-animation 2s ease-out;
}

.Docker {
  width: 30%;
}

.Docker-animation{
  animation: Docker-animation 2s ease-out;
}

.AWS {
  width: 30%;
}

.AWS-animation{
  animation: Docker-animation 2s ease-out;
}

@keyframes HTML-animation { 
  0%  { width:0px;} 
  100%{ width:85%;}  
}

@keyframes CSS-animation { 
  0%  { width:0px;} 
  100%{ width:75%;}  
}

@keyframes JavaScript-animation { 
  0%  { width:0px;} 
  100%{ width:65%;}  
}

@keyframes Go-animation { 
  0%  { width:0px;} 
  100%{ width:60%;}  
}

@keyframes SQL-animation { 
  0%  { width:0px;} 
  100%{ width:50%;}  
}

@keyframes WordPress-animation { 
  0%  { width:0px;} 
  100%{ width:50%;}  
}

@keyframes React-animation { 
  0%  { width:0px;} 
  100%{ width:55%;}  
}

@keyframes Liquid-animation { 
  0%  { width:0px;} 
  100%{ width:20%;}  
}

@keyframes Git-animation { 
  0%  { width:0px;} 
  100%{ width:40%;}  
}

@keyframes GraphQL-animation { 
  0%  { width:0px;} 
  100%{ width:35%;}  
}

@keyframes Docker-animation { 
  0%  { width:0px;} 
  100%{ width:30%;}  
}

@media only screen and (max-width: 991px){
  .skills-body{
    font-size: 2vh;
  }
}

@media only screen and (max-width: 530px){
  .skills-body{
    font-size: 16px;
  }
  
  .skills-body h1{
    font-size: 4vh;
  }

  ul + ul{
    margin-top: 55px;
  }

}

/* FOOTER */

.footer-body{
  display: flex;
  flex-direction: row;
  height: 20vh;
  border-top: 2px solid white;
  font-size: 3.5vh;
  color: #272838;
  justify-content: center;
  /* background-image: */
  /* linear-gradient(#5D536B, #FFBECB 90%); */
}

.footer-link{
  padding-left: 8%;
  padding-right: 8%;
  align-self: center;
  /* word-break: break-all; */
}

.footer-link a{
  background-color: transparent;
  color: #5D536B;
  text-decoration: none;
  animation: link-footer-out 0.5s forwards
}

.footer-link a:hover{
  animation: link-footer 0.5s forwards
}

.credits {
  color: #5D536B;
  font-size: 16px;
  padding-left: 10%;
  padding-bottom: 5%;
}

@keyframes link-footer {
  0% {
    color: #5D536B;
  }
  100% {
    color: black;
  }
}

@keyframes link-footer-out {
  0% {
    color: black;
  }
  100% {
    color: #5D536B;
  }
}

@media only screen and (max-width: 991px){
  .footer-body{
    font-size: 2.5vh;
  }

  .footer-link{
    padding-left: 6%;
    padding-right: 6%;
    align-self: center;
    /* word-break: break-all; */
  }
}

@media only screen and (max-width: 530px){
  .footer-body{
    font-size: 2.5vh;
  }

  .footer-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer-link{
    padding-top: 40px
  }

  .footer-link+.footer-link{
    padding-top: 40px;
  }
}
/* TODO remove temorary styles */
/* TEMPORARY STYLES */
.padding-sides-10 {
  padding-left: 10%;
  padding-right: 10%;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.text-dark {
  color: #272838;
}
/* UTOPIA CODE */
:root {
  /* FONT STEPS */
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* Step -2: 12.5px → 12.8px */
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  /* Step 0: 18px → 20px */
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* Step 3: 31.104px → 39.0625px */
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  /* Step 7: 64.4973px → 95.3674px */
  --step-7: clamp(4.0311rem, 3.36rem + 3.3555vw, 5.9605rem);

  /* SNOW FLAKES STEPS */
  /* @link https://utopia.fyi/type/calculator?c=320,40,1.2,1240,80,1.25,5,2,&s=0.75|0.5|0.25|0.25|0.25,1.5|2|3|4|6,s-l|3xs-3xl&g=s,l,xl,12 */

  --heavy-step-1: clamp(2.5rem, 1.6304rem + 4.3478vw, 5rem);
  --medium-step-0: clamp(2.1875rem, 1.5353rem + 3.2609vw, 4.0625rem);
  /* @link https://utopia.fyi/type/calculator?c=320,35,1.2,1240,38,1.25,5,2,&s=0.75|0.5|0.25|0.25|0.25,1.5|2|3|4|6,s-l|3xs-3xl&g=s,l,xl,12 */
  --light-step-0: clamp(2.625rem, 2.5054rem + 0.5978vw, 2.9688rem);

  /* SPACES */
  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25|0.25|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* Space s: 18px → 20px */
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* Space m: 27px → 30px */
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);

  /* One-up pairs */
  /* Space 4xs-3xs: 5px → 5px */
  --space-4xs-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  /* Space xs-s: 14px → 20px */
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);

  /* Custom pairs */
  /* Space s-l: 18px → 40px */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  /* Space 2xs-s: 9px → 20px */
  --space-2xs-s: clamp(0.5625rem, 0.3234rem + 1.1957vw, 1.25rem);
  --space-3xs-3xl: clamp(0.3125rem, -2.1875rem + 12.5vw, 7.5rem);

  /* GRID */
  /* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --grid-max-width: 77.50rem;
  --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem));
  --grid-columns: 12;
}

/* HO HO HO ANIMATION */

.snow-body {
  background-color: black;
}

.snow-container {
  max-width: 90rem;
  height: 100vh;
  padding-inline: var(--grid-gutter);
    margin-inline: auto;
  overflow: hidden;
}

.snowFlakes {
  display: grid;
    width: 100%;
    position: relative;
}
  
.snowflakes-grid-base {
  /* margin-top hides start of the grids */
  margin-top: -80px;
  display: grid;
  justify-content: center;
}

.snowFlake {
  display: grid
}

.heavySnowFlakes {
  grid-template-columns: repeat(auto-fit, var(--heavy-step-1));
  gap: var(--space-xs-s);
}

.mediumSnowFlakes {
  grid-template-columns: repeat(auto-fit, var(--medium-step-0));
  gap: var(--space-xs-s);
}

.lightSnowFlakes {
  grid-template-columns: repeat(auto-fit, var(--light-step-0));
  gap: var(--space-4xs-3xs);
}

.heavySnowFlakes-container img {
  width: var(--heavy-step-1);
  height: var(--heavy-step-1);
}

.mediumSnowFlakes-container img {
  width: var(--medium-step-0);
  height: var(--medium-step-0);
}

.lightSnowFlakes-container img {
  width: var(--light-step-0);
  height: var(--light-step-0);
}

/* CHRISTMAS GIFT */

.christmas-body h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.p-grid {
  display: grid;
  gap: var(--space-2xs-s);
}

.christmas-body {
  color: #000;
}

.mountains-of-christmas-bold {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
}

.mountains-o-c-b--h1 {
  font-size: var(--step-7);
  margin-top: var(--space-m) !important;
  margin-bottom: var(--space-m) !important;
}

.quattrocento-regular {
  font-size: var(--step-0);
  line-height: 1.8;
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-r--h2 {
  font-size: var(--step-3);
  margin-top: var(--space-s) !important;
  margin-bottom: var(--space-s) !important;
}