/* WHOLE PAGE */

body {
  background-color: #FFC0CB;
  color: #272838;
  overflow-y: scroll;
}

/* SECTION INTRO */

.intro{
  padding: 10%;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: row;
  height: 55vh;
  justify-content: center;
}

.intro-left{
  position: relative;
  order: 2;
  /* border: 2px red solid; */
  width: 40%;
}

.intro-right{
  order: 1;
  /* border: 2px green solid; */
  height: 50%;
}

.short-description-text {
  font-size: 6vh;
  opacity: 0;
  display: inline-block;
  /* border: 2px yellow solid */
}

.short-description-wrapper{
  font-family: 'Martel', serif;
  width: 90%;
  display: block;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pop-from-left{
  font-family: 'Prompt', sans-serif;
  z-index: 1;
  overflow: hidden;
  animation: 1s pop-from-left;
  margin-top: 0%;
}

@keyframes pop-from-left {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

video {
  width: 100% !important;
  height: 100% !important;
  border: 5px solid #7d6b91;
  max-width: 300px;
  min-width: 250px;
  min-height: 100px;
}

.danilo-video{
  position: absolute;
  transform: translate(0,0) scale(0);
  transition-duration: 0.1s;
  /* border: 2px solid black; */
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  right: 0;
}

.arrow-down{
  text-align: center;
  font-size: 4vh;
  opacity: 0;
}

@media only screen and (max-width: 992px){
  .intro {
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    height: 80vh;
  }

  .intro-left{
    width: 100%;
  }
  
  .pop-from-left {
    font-size: 3vh;
  }

  .short-description-text{
    font-size: 4vh;
  }

  .danilo-video{
    position: relative;
    float: right;
  }

  video{
    max-width: 250px;
    min-width: 200px;
    min-height: 150px;
  }
}

/* INDEX PAGE */
