/* WHOLE PAGE */

body {
  background-color: #FFC0CB;
  color: white;
  font-family: 'Martel', serif;
  overflow-y: scroll;
}

body h1{
  font-family: 'Prompt', sans-serif;
  font-size: 7vh;
}

/* SECTION INTRO */

.intro{
  padding: 10%;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: row;
  height: 55vh;
  justify-content: center;
  color: #272838
}

.intro-left{
  position: relative;
  order: 2;
  /* border: 2px red solid; */
  width: 40%;
}

.intro-right{
  order: 1;
  /* border: 2px green solid; */
  height: 50%;
}

.short-description-text {
  font-size: 6vh;
  opacity: 0;
  display: inline-block;
  /* border: 2px yellow solid */
}

.short-description-wrapper{
  width: 90%;
  display: block;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pop-from-left{
  font-family: 'Prompt', sans-serif;
  z-index: 1;
  overflow: hidden;
  animation: 1s pop-from-left;
  margin-top: 0%;
}

@keyframes pop-from-left {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.intro video {
  width: 100% !important;
  height: 100% !important;
  /* border: 5px solid #7d6b91; */
  max-width: 300px;
  min-width: 250px;
  min-height: 100px;
}

.danilo-video{
  position: absolute;
  transform: translate(0,0) scale(0);
  transition-duration: 0.1s;
  /* border: 2px solid black; */
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  right: 0;
}

.arrow-down{
  text-align: center;
  font-size: 4vh;
  opacity: 0;
}

@media only screen and (max-width: 992px){
  .intro {
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    height: 80vh;
  }

  .intro-left{
    width: 100%;
  }
  
  .pop-from-left {
    font-size: 3vh;
  }

  .short-description-text{
    font-size: 4vh;
  }

  .danilo-video{
    position: relative;
    float: right;
  }

  intro video{
    max-width: 250px;
    min-width: 200px;
    min-height: 150px;
  }
}

/* INDEX PAGE */

/* BIO */

.bio-body {
  font-family: 'Martel', serif;
  padding: 10%;
  background-color: #FFBECB;
  background-image:
  linear-gradient(#FFBECB, #7D6B91 30%);
}

.paragraphs {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  font-size: 2.5vh;
  color: white;
  justify-content: space-evenly;
}

.paragraph {
  /* border: 1px solid white; */
  min-width: 200px;
  max-width: 500px;
  min-height: 200px;
  white-space: pre-wrap;
}

.paragraph2 {
  position: relative;
  top: 8.3vh;
}

.paragraph+.paragraph{
  margin-left: 30px
}

.pages-videos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: center;
}

.pages-videos video {
  max-width: 400px;
}

.video1{
  margin-left: -45%
}

.video2 {
  margin-left: 45%;
  right: 300px;
  margin-top: -15%
}

@media only screen and (max-width: 992px){
  .bio-body h1{
    font-size: 5vh;
  }

  .paragraphs {
    font-size: 1.8vh
  }

  .paragraph2 {
    top: 10px;
  }

  .paragraph+.paragraph{
    margin-left: 20px
  }

  .pages-videos video {
    max-width: 250px;
    min-width: 200px;
    min-height: 150px;
  }

}

@media only screen and (max-width: 530px){
  .paragraphs {
    font-size: 16px;
    flex-direction: column;
  }

  .paragraph+.paragraph{
    margin-left: 0px
  }

  .pages-videos video {
    max-width: 150px;
  }

  .video1{
    margin-left: -15%
  }
  
  .video2 {
    margin-left: 15%;
    margin-top: -15%
  }
}

/* SELECTED PROJECTS */

.selected-projects-body {
  color: white;
  background-color: #7D6B91;
  padding: 10%;
}

.project-video {
  width: 100% !important;
  height: 100% !important;
}

@media only screen and (max-width: 992px){
  .selected-projects-body h1{
    font-size: 5vh;
  }
}